//Mobile View
html{
  font-family: "Comic Sans MS", sans-serif;
}

header{
  display: block;
  .logo{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width:300px;
      width:80%;
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }
}

nav {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

/* Style the links inside the navigation bar */
nav a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 12px;
  width:100%;
}

/* Change the color of links on hover */
nav a:hover {
  text-decoration: underline;
}

hr{
  width: 60%;
}

body {
  background-color: #000000;
  text-align: center;
  margin: 0;
}

#background{
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191926;
  max-height: inherit;
}

#whatsrubyside{
  padding: 10px 5px 5px 5px;
}

#upcomingevents{
  padding: 5px 5px 5px 5px;
}

.RSVP{
    background-color: #e83054;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    font-size: 12px;
}

.RSVP:hover{
    background-color: #e83063;
}

#events{
  padding: 5px 5px 15px 5px;
}

#organisers{
  padding: 20px 5px 35px 5px;
  background-color: #55555a;
}

.dan{
  padding-bottom: 50px;
}
.daniel{
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.mike{
  padding-bottom: 50px;
}
.mikelink{
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.tom{
  text-decoration: none;
}
.tomlink{
  color: white;
  font-size: 12px;
  text-decoration: none;
}

#cleversteam{
  padding: 20px 0px 20px 0px;
  background-color: #191926;
}

.address{
  text-decoration: none;
}

.twitter{
  color: white;
  font-size: 12px;
  text-decoration: none;
  padding-top: 20px;
}

.in{
  color: white;
  font-size: 12px;
  text-decoration: none;
}

h1{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding-bottom: 2px;
  font-weight: bold;
}

h2{
  color: #ffffff;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}

h3{
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  padding: 10px 0px 0px 0px;
}

h4{
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  font-weight: lighter;
  padding-bottom: 10px;
  text-decoration: underline;
}

h5{
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}

p{
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}

footer {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #e83054;
  color: #ffffff;
  clear: left;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

// -----
//Tablet View
// -----
@media only screen and (min-width: 600px) and (max-width: 767px) {

  img{
    max-width:300px;
  }

  nav {
    width: 600px;
  }

  /* Style the links inside the navigation bar */
  nav a {
    float: left;
    padding: 15px 0px 15px 0px;
    font-size: 14px;
    width:33.33%;
  }

#whatsrubyside{
  padding: 10px 10px 10px 10px;
}

#upcomingevents{
  padding: 10px 10px 10px 10px;
}

.RSVP{
    width: 150px;
    font-size: 14px;
}

#events{
  padding: 10px 10px 10px 10px;
}

#organisers{
  padding: 20px 10px 35px 10px;
}

.dan{
  padding-bottom: 10px;
    float: left;
    width:33%;
}
.daniel{
  font-size: 14px;
}

.mike{
  padding-bottom: 10px;
  float: left;
  width:33%;
}
.mikelink{
  font-size: 14px;
}

.tom{
  padding-bottom: 10px;
  float: left;
  width:33%;
}
.tomlink{
  font-size: 14px;
}

.clearfloat{
  clear: both;
}

.twitter{
  font-size: 14px;
}

.in{
  font-size: 14px;
}

h1{
  font-size: 14px;
}

h2{
  font-size: 14px;
}

h3{
  font-size: 14px;
}

h5{
  font-size: 14px;
}

p{
  font-size: 14px;
}
}

//Desktop View
@media only screen and (min-width: 768px){

  nav {
    width: 600px;
  }

  /* Style the links inside the navigation bar */
  nav a {
    float: left;
    padding: 15px 0px 15px 0px;
    font-size: 16px;
    width:33.33%;
  }

#whatsrubyside{
  padding: 10px 10px 10px 10px;
}

#upcomingevents{
  padding: 10px 10px 10px 10px;
}

.RSVP{
    width: 150px;
    font-size: 16px;
}

#events{
  padding: 10px 10px 10px 10px;
}

#organisers{
  padding: 30px 10px 35px 10px;
}

.dan{
  padding-bottom: 10px;
    float: left;
    width:33%;
}
.daniel{
  font-size: 16px;
}

.mike{
  padding-bottom: 10px;
  float: left;
  width:33%;
}
.mikelink{
  font-size: 16px;
}

.tom{
  padding-bottom: 10px;
  float: left;
  width:33%;
}
.tomlink{
  font-size: 16px;
}

.clearfloat{
  clear: both;
}

.twitter{
  font-size: 16px;
}

.in{
  font-size: 16px;
}

h1{
  font-size: 16px;
}

h2{
  font-size: 16px;
}

h3{
  font-size: 16px;
}

h4{
  font-size: 14px;
}

h5{
  font-size: 16px;
}

p{
  font-size: 16px;
}
}
